* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.main {
  height: 720px;
  background: url("../img/bg.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;

}
.main-child{
  z-index: 1;

}
.main h1{
  font-size:64px;
  max-width:480px ;
  text-align: center;
}
.gradient {
  background: rgba (0,0,0,.5);

}
html {
  background-color: #1c1d1d;
}
p, li, h1, div, button{
  margin: 0;
  padding: 20px 0;
 

}
p, li, h1, div {
  background-color: rgb(44, 41, 41);
  color: rgb(253, 252, 252);
  width: 500px;
  border: 1px solid rgb(250, 248, 248);
}
html {font-size: 26px; /* px significa "pixels": o tamanho da fonte base é agora de 10 pixels */
  font-family: "Open Sans", sans-serif; /* este deve ser o nome da fonte que você obteve no Google Fonts */
}
img {
  display: block;
  margin: 0 auto;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #7c7a7a;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-size: 30px;
  text-align: center;
}

p, li, button {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
