* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
.main {
  height: 720px;
  background: url("../img/bg.jpg") center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position:relative;

}
.main-child{
  z-index: 1;

}
.main h1{
  font-size:64px;
  max-width:480px ;
  text-align: center;
}
.gradient {
  background: rgba (0,0,0,.5);

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
